#myheightft{
	width: 40px;
}

#myheightin{
	width: 40px;
}

#finalweight{
	font-family: Helvetica, Calibri;
	color: #0442e5;
	position: relative;
	margin: 0px auto;
	text-align: center;
}

#ideal{
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 50%;
	margin: 0px auto;
	padding: 10px;
	font-size: 35px;
	font-style: bold;
	text-align: center;
}

p#center{
	text-align: center;
	margin-top: 40px;
	
}